<script th:inline="javascript">
$(function() {
	var calendarEl = document.getElementById('calendar');

	  var calendar = new FullCalendar.Calendar(calendarEl, {
	    plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'interaction' ],
	    defaultView: 'dayGridMonth',
	    defaultDate: '2019-08-07',
	    selectable: true,
	    header: {
	      left: 'prev,next today',
	      center: 'title',
	      right: 'dayGridMonth,timeGridWeek,timeGridDay'
	    },
	    events: [
	      {
	        title: 'All Day Event',
	        start: '2019-08-01'
	      },
	      {
	        title: 'Long Event',
	        start: '2019-08-07',
	        end: '2019-08-10'
	      },
	    ],
	    dateClick: function(info) {
	    	$('#modal-commute').modal('show');
	    	$('#modal-commute-date').html(info.dateStr);
		}
	  });

	  calendar.render();
});
</script>