<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
    	<div class="mdc-layout-grid__inner">
  			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    		{{>company_dashboard_companyinfo}}
   		 	</div>
   		 	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    		{{>company_dashboard_reward}}
   		 	</div>
   		 </div>
   		 <div class="mdc-layout-grid__inner">
   			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    		{{>company_dashboard_employeelist}}
    		</div>
   		 </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
    	<div class="mdc-layout-grid__inner">
   			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    		{{>company_dashboard_workplacelist}}
    		</div>
   		 </div>
    </div>
  </div>
</div>


