<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- # CUSTOM -->
	<!-- CSS -->
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/company_style.css">
	<!-- JavaScript -->
	<script src="/js/common.js"></script>	
	<script src="/js/company.js"></script>
	
	<!-- # LIBRARIES -->
	<!-- CSS -->
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="/libs/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- AdminLTE -->
	<link rel="stylesheet" href="/libs/AdminLTE/2.4.17/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/libs/AdminLTE/2.4.17/css/skins/_all-skins.min.css">
	
	<!-- JavaScript -->
	<!-- jQuery 3 -->
	<script src="/libs/jquery/3.3.1/dist/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/libs/jquery-ui/1.11.4/jquery-ui.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/libs/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Bootstrap AdminLTE -->
	<script src="/libs/AdminLTE/2.4.17/js/adminlte.min.js"></script>
	
</head>