<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="context-path" th:content="@{/}"/>
	<!-- include css definitions -->
	<th:block th:include="include-css"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- include javascript libraries definitions -->
	<th:block th:include="include-script"></th:block>
	
	<!-- Contents -->
	<div class="container">
		<h2>Welcome to MyWorkChain !!</h2>
		<table class="table table-hover">
			<caption>List of billionailes</caption>
			<thead class="thead-dark">
				<tr>
					<th>id</th>
					<th>firstName</th>
					<th>lastName</th>
					<th>career</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${billionailesList.empty}">
					<td colspan="2">No Books Available</td>
				</tr>
				<tr th:each="billionailes : ${billionailesList}">
					<td><span th:text="${billionailes.id}"> id </span></td>
					<td><span th:text="${billionailes.firstName}">firstName </span></td>
					<td><span th:text="${billionailes.lastName}"> lastName </span></td>
					<td><span th:text="${billionailes.career}">career </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
