
<div id="customer-list">
	<div class="list">
		<div class="mdc-data-table">
		  <table class="mdc-data-table__table" aria-label="기업 목록">
		    <thead>
		      <tr class="mdc-data-table__header-row">
		        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">회사명</th>
		        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">주소</th>
		        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Wallet Address</th>
		      </tr>
		    </thead>
		    <tbody class="mdc-data-table__content">
		    {{#companyList}}
		    <tr class="mdc-data-table__row">
		        <td class="mdc-data-table__cell">{{compName}}</td>
		        <td class="mdc-data-table__cell">{{location}}</td>
		        <td class="mdc-data-table__cell">{{compAddress}}</td>
		     </tr>
		    {{/companyList}}
		    {{^companyList}}
		    <tr>
		    No Company
		    </tr>
		    {{/companyList}}
		    </tbody>
		  </table>
		</div>
	</div>
</div>
